/venv/Scripts/
/venv/Include/
/venv/pyvenv.cfg
/venv/Lib/
/.idea/.gitignore
/.gitignore
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/telegram_bot.iml
/.idea/vcs.xml
/config.json
/CurseWords.txt
/goodbye.txt
/hello1.txt
/start.txt
/helper/
/Ping_rand.txt
/Rand_Pervoe.txt
/hello1_1.txt
/PingWords.txt
/str_content/
